.profile-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  min-width: 18rem;
  max-width: 47rem;
  min-height: max-content;

  @media screen and (min-width: 1023px) {
    max-width: 60rem;
  }

  & > header {
    // grid-column: 1/4;
    h2 {
      margin: 0 0 1rem;
      font-weight: 500;
    }

    p {
      margin: 0 0 1rem;
    }
  }

  .results {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    min-height: max-content;
    justify-items: center;

    @media screen and (min-width: 1023px) {
      grid-template-columns: repeat(4, 1fr);
      padding: 0;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 539px) {
      grid-template-columns: 1fr;
      width: 100%;
      column-gap: 1rem;
      gap: 1rem;
    }
  }
}
