.pagination {
  margin: 1rem 2rem;
  align-self: flex-end;

  button {
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.4);

    &:disabled {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    & + button {
      margin: 0 0 0 1rem;
    }
  }

  @media screen and (max-width: 592px) {
    margin: 1rem;
  }
}
