.pagination {
  margin: 1rem 0 1rem 2rem;
  align-self: flex-end;
  position: absolute;
  right: 0rem;
  bottom: -2.5rem;

  &.top {
    top: 0.25rem;
    bottom: unset;
  }

  @media screen and (min-width: 1023px) {
    right: 1rem;
    bottom: -3.5rem;
  }

  @media screen and (max-width: 592px) {
    margin: 1rem;
  }

  @media screen and (max-width: 768px) {
    right: 2rem;
  }

  @media screen and (max-width: 540px) {
    right: 1rem;
  }

  button {
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);

    &:disabled {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: var(--button-bg-muted);
    }

    & + button {
      margin: 0 0 0 1rem;
    }
  }
}
