.dropdown-filter {
  display: flex;
  // min-width: max-content;
  width: 100%;
  // align-items: center;
  flex-direction: column;

  @media screen and (max-width: 592px) {
    align-self: center;
    align-items: unset;
    // width: 100%;
    flex-direction: column;
  }

  label {
    margin: 0 1rem;
    min-width: 8rem;
    vertical-align: middle;

    @media screen and (max-width: 592px) {
      display: block;
      margin: 0rem 0.5rem 0.5rem;
      vertical-align: unset;
    }
  }

  select {
    margin: 1rem;
    // min-width: 15rem;
    min-width: 90%;
    max-width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    
    @media screen and (max-width: 592px) {
      margin: 0rem 0.5rem 1rem;
      // width: 90%;
      align-self: center;
    }
  }
}
