.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
  min-height: max-content;

  @media screen and (max-width: 592px) {
    padding: 2rem 1rem;
  }

  & > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 592px) {
      align-items: unset;
    }

    h1 {
      margin: 0 1rem 1rem;
      text-align: unset;

      @media screen and (max-width: 592px) {
        margin: 0 0 1rem;
      }
    }

    p {
      margin: 0 0 1rem;
      text-align: center;

      @media screen and (max-width: 592px) {
        text-align: unset;
      }
    }
  }

  .filters {
    padding: 1rem;
    width: 100%;
    min-width: max-content;
    max-width: 45rem;
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0 0 1rem;
    }

    & > label {
      margin: 0 1rem 1rem;

      @media screen and (max-width: 592px) {
        margin: 0rem 0.5rem 0.5rem;
      }
    }

    input {
      margin: 0 1rem 1rem;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      border: 1px solid;
      width: 90%;
      max-width: 40rem;
      min-width: 15rem;
      align-self: center;

      @media screen and (max-width: 592px) {
        margin: 0rem 0.5rem 0.5rem;
      }
    }
  }
}
