.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 3rem;
  min-height: max-content;

  & > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    margin: 0 0 1rem;

    @media screen and (max-width: 592px) {
    }

    h1 {
      margin: 0 1rem 1rem;
      text-align: unset;
      font-weight: 500;

      @media screen and (max-width: 592px) {
        margin: 0 0 1rem;
      }
    }

    p {
      margin: 0 0 1rem;
      text-align: center;

      @media screen and (max-width: 592px) {
        text-align: unset;
      }
    }
  }

  .filters {
    padding: 1rem;
    margin: 2rem 1rem;
    width: 100%;
    min-width: max-content;
    max-width: 47rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 0 4px var(--box-shadow-color);

    @media screen and (min-width: 1023px) {
      max-width: 60rem;
    }

    @media screen and (max-width: 592px) {
      grid-template-columns: 1fr;
    }

    h2 {
      margin: 0 0 1rem;
      grid-column: 1/3;
      font-weight: 500;

      @media screen and (max-width: 592px) {
        grid-column: 1/2;
      }
    }

    .input-group {
      grid-column: 1/3;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 592px) {
        grid-column: 1/2;
      }

      label {
        margin: 0 1rem;

        @media screen and (max-width: 592px) {
          margin: 0rem 0.5rem;
        }
      }

      input {
        margin: 0 1rem 1rem;
        margin: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        border: var(--form-input-border);
        min-width: 90%;
        max-width: 100%;

        @media screen and (max-width: 592px) {
          align-self: center;
        }
      }
    }
  }

  .spinner-container {
    margin-top: 5rem;

    .nb-spinner {
      width: 75px;
      height: 75px;
      margin: 0;
      background: transparent;
      border-top: 4px solid var(--primary-color);
      border-right: 4px solid transparent;
      border-radius: 50%;
      -webkit-animation: 1s spin linear infinite;
      animation: 1s spin linear infinite;
    }

    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}
