#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#modals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: max-content;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}
