* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  height: max-content;
  width: 100vw;
  overflow: hidden;
  background-color: #fcfcfc;
}

:root {
  --primary-color: rgb(61, 108, 185);
  --primary-color-muted: #00000090;
  --secondary-color: ;
  --secondary-color-muted: ;
  --button-text-color: rgb(253, 253, 253);
  --button-bg-color: rgba(61, 108, 185, 1);
  --button-bg-muted: rgba(61, 108, 185, 0.5);
  --header-bg-color: rgba(25, 69, 140, 1);
  --header-text-color: rgb(253, 253, 253);
  --box-shadow-color: rgba(61, 108, 185, 0.3);
  --form-input-border: 1px solid rgba(61, 108, 185, 0.3);
}
