* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  height: max-content;
  width: 100vw;
  overflow: hidden;
}

:root {
  --primary-color: #000000;
  --primary-color-muted: #00000090;
  --secondary-color: ;
  --secondary-color-muted: ;
  --button-text-color: ;
  --button-bg-color: ;
  --button-bg-muted: ;
  --header-bg-color: rgb(255, 255, 255);
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}
